html{
    overflow-x: hidden;
    height: 100%;
}
body{
    background: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}
.signUpForm{
    width: 18rem;
    
}
#loginForm{
    display: hidden;
}
label{
    color: grey!important;
}

